<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - Página Inicial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Bem-vindo à Biblioteca</h1>
<nav>
    <ul>
        <li><a href="livros.html">Gerenciar Livros</a></li>
        <li><a href="usuarios.html">Gerenciar usuários</a></li>
        <li><a href="reservas.html">Gerenciar Reservas</a></li>
        <li><a href="emprestimos.html">Gerenciar Emprestimos</a></li>
        <li><a href="multas.html">Ver multas</a></li>
        <li><a href="autores.html">Gerenciar Autores</a></li>
        <li><a href="editoras.html">Gerenciar Editoras</a></li>
        <li><a href="categorias.html">Gerenciar Categorias Literárias</a></li>
        <li><a href="consulta1.php">Livros Reservados por Aluno</a></li>
        <li><a href="consulta2.php">Empréstimos Realizados</a></li>
        <li><a href="consulta3.php">Multas Associadas</a></li>
        <!--<li><a href="consulta4.php">Livros Reservados por Aluno</a></li>
        <li><a href="consulta5.php">Livros Reservados por Aluno</a></li>-->
    </ul>
</nav>
</body>
</html>
