<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Editoras</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Gerenciamento de Editoras</h1>
<nav>
    <ul>
        <li><a href="inserireditoras.html">Insere Editoras</a></li>
        <li><a href="editareditoras.html">Editar Editoras</a></li>
        <li><a href="remove_editora.php">Remover Editoras</a></li>
        <li><a href="listaeditoras.php">Listar Editoras</a></li>
    </ul>
</nav>
</body>
</html>
