<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Categorias</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Gerenciamento de Categorias</h1>
<nav>
    <ul>
        <li><a href="inserircategorias.html">Insere Categorias</a></li>
        <li><a href="editarcategorias.html">Editar Categorias</a></li>
        <li><a href="removercategorias.html">Remover Categorias</a></li>
        <li><a href="listarcategorias.html">Listar Categorias</a></li>
    </ul>
</nav>
</body>
</html>
