<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Autores</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Gerenciamento de Autores</h1>
<nav>
    <ul>
        <li><a href="inserirautores.html">Insere Autores</a></li>
        <li><a href="editarautores.php">Editar Autores</a></li>
        <li><a href="remove_autor.php">Remover Autores</a></li>
        <li><a href="listaautores.php">Listar Autores</a></li>
    </ul>
</nav>
</body>
</html>
