<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Emprestimos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Gerenciamento de Emprestimos</h1>
<nav>
    <ul>
        <li><a href="inseriremprestimos.html">Insere Emprestimos</a></li>
        <li><a href="editaremprestimos.html">Editar Emprestimos</a></li>
        <li><a href="removeremprestimos.html">Remover Emprestimos</a></li>
        <li><a href="listaemprestimos.php">Listar Emprestimos</a></li>
    </ul>
</nav>
</body>
</html>
