<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Multas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Gerenciamento de Multas</h1>
<nav>
    <ul>
        <li><a href="inserirmultas.html">Insere Multas</a></li>
        <li><a href="editarmultas.html">Editar Multas</a></li>
        <li><a href="removermultas.html">Remover Multas</a></li>
        <li><a href="listamultas.php">Listar Multas</a></li>
    </ul>
</nav>
</body>
</html>
