<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Reservas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Gerenciamento de Reservas</h1>
<nav>
    <ul>
        <li><a href="inserirreservas.html">Insere Reservas</a></li>
        <li><a href="editarreservas.html">Editar Reservas</a></li>
        <li><a href="removerreservas.html">Remover Reservas</a></li>
        <li><a href="listareservas.php">Listar Reservas</a></li>
    </ul>
</nav>
</body>
</html>
