<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Livros</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
<h1>Gerenciamento de Livros</h1>
<nav>
    <ul>
        <li><a href="inserirlivros.html">Inserir Livros</a></li>
        <li><a href="editarlivros.php">Editar Livros</a></li>
        <li><a href="remove_livro.php">Remover Livros</a></li>
        <li><a href="listalivros.php">Listar Livros</a></li>
    </ul>
</nav>
</body>
</html>
