<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Usuários</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Gerenciamento de Usuários</h1>
<nav>
    <ul>
        <li><a href="inserirusuarios.html">Insere Usuários</a></li>
        <li><a href="editarusuarios.html">Editar Usuários</a></li>
        <li><a href="removerusuarios.html">Remover Usuários</a></li>
        <li><a href="listarusuarios.html">Listar Usuários</a></li>
    </ul>
</nav>
</body>
</html>
